  <div class="form-group">
  <%= form_for @order do |f| %>
      <%= f.label :expedite, "Expedited shipping?", class: "control-label" %>
      <%= f.check_box :expedite %>
    <br />
    <h3>Add Line Items</h3>
    <%= f.fields_for :line_items do |builder| %>
      <%= render "line_item_fields", :f => builder %>
    <% end %>

    <p><%= f.submit "Submit" %></p>
  <% end %>
</div>
