<h1 class="text-center">Order Summary</h1>

<div class="container" style="margin-top: 30px;">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#shipped">Shipped Orders</a></li>
    <li><a data-toggle="tab" href="#unshipped">Unshipped Orders</a></li>
  </ul>

  <div class="tab-content">
    <div id="shipped" class="tab-pane fade in active">
      <table class="table table-dark">
        <thead>
          <tr>
            <th class="text-center" scope="col">Order Number</th>
            <th class="text-center" scope="col">Shipped On</th>
            <th class="text-center" scope="col">Number of Items</th>
            <th class="text-center" scope="col">Order Total</th>
          </tr>
        </thead>
        <tbody>
          <% @shipped_orders.each do |order| %>
            <tr>
              <td class="text-center" scope="row"><%= link_to order.id, order_path(order) %></td>
              <td class="text-center"><%= order.shipped_at.strftime('%m/%d/%Y')%></td>
              <td class="text-center"><%= order.item_count %></td>
              <td class="text-center"><%= number_to_currency(order.order_total) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="unshipped" class="tab-pane fade">
      <table class="table table-dark">
        <thead>
          <tr>
            <th class="text-center" scope="col">Order Number</th>
            <th class="text-center" scope="col">Number of Items</th>
            <th class="text-center" scope="col">Order Total</th>
          </tr>
        </thead>
        <tbody>
          <% @unshipped_orders.each do |order| %>
            <tr>
              <td class="text-center" scope="row"><%= link_to order.id, order_path(order) %></td>
              <td class="text-center"><%= order.item_count %></td>
              <td class="text-center"><%= number_to_currency(order.order_total) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
