<!DOCTYPE html>
<html>
  <head>
    <title>RailsCodeChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %>
          <% if key == "success" %>
          <pre style="background: none; border: none; font-size: 7px">
                ____________________
               |\                   \      l____
               | \___________________\     |\   \
               | |                    |    |\l___\___
          [__]_[ |   Comin' at ya     |[\\]| |__|_\__\
         /\[__]\ |                    |\[\\]\|. | |===\
         \ \[__]\[____________________] \[__]|__|..___]
          \/.-.\_______________________\/.-.\____\/.-.\
           ( @ )                        ( @ )  =  ( @ )
            `-'                          `-'       `-'
          </pre>
        <% end %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
